.idea/
env/
out/
data

__pycache__/
*.trk
*.gz
*.pt
*.png
*.comet.config
*.npy

# Unit test / coverage reports
.coverage

log
*/.ipynb_checkpoints

.vscode

tractolearn.egg-info

dist
build
.pytest_cache
junit
Dockerfile
